@model NeatBookMVC.Models.CompositeViewModels.FeedViewModel

<h2>Feed</h2>

<h3>New Books</h3>
<ul>
    @foreach (var book in Model.Books)
    {
        <li>
            <a asp-controller="BookDetails" asp-action="Index" asp-route-id="@book.Id">@book.Name</a>
        </li>
    }
</ul>

<h3>New Articles</h3>
<ul>
    @foreach (var article in Model.Articles)
    {
        <li>
            <a asp-controller="ArticleDetails" asp-action="Index" asp-route-id="@article.Id">@article.Name</a>
        </li>
    }
</ul>