<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Book">Books</a></li>
        <li><a href="/User">Users</a></li>
        <li><a href="/Article">Articles</a></li>
    </ul>
</nav>