@model NeatBookMVC.Models.ChapterDetailsViewModel

<h2>Chapter Details</h2>

<div>
    <h3>@Model.Name</h3>
    @if (!string.IsNullOrEmpty(Model.Text))
    {
        <p>@Model.Text</p>
    }
    <p>Order: @Model.Order</p>
    <p>Book ID: @Model.BookId</p>
</div>
