@model HomePageViewModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css/home.css">
</head>

<div class="block">
    <h3>Books</h3>
    <ul>
        @foreach (var book in Model.Books.Take(10))
        {
            <li><a asp-controller="BookDetails" asp-action="Index">@book.Name</a></li>
        }
    </ul>
</div>

<div class="block">
    <h3>Articles</h3>
    <ul>
        @foreach (var article in Model.Articles.Take(10))
        {
            <li><a asp-controller="ArticleDetails" asp-action="Index">@article.Name</a></li>
        }
    </ul>
</div>

<div class="block">
    <h3>Users</h3>
    <ul>
        @foreach (var user in Model.Users.Take(10))
        {
            <li><a asp-controller="UserProfile" asp-action="Index">@user.Name</a></li>
        }
    </ul>
</div>


