.header {
    background-color: #67bec3;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: antiquewhite;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.user-profile a,
.login a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.search input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

.search button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.search button:hover {
     background-color: #0056b3;
}
